@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{
    --primary-backgroundcolor : orange ;
}

body{
    font-family:'Amatic SC', cursive;
    margin: 0rem;
    /* background-image: image(); */
    background-image: url(/images/main_background_img.svg);
    
}

/* 
img{

   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: auto;

   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   
} */

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}

.main-div{
    margin: auto;
    /* margin-top: 10%; */
    /* margin-left: 20%; */
    max-width:50% ;
    width: 100%;
    height: 80%;
    background-color: rgb(158, 255, 93);
    border-radius: 2rem;
    border-style:ridge;
    border-width: 1rem;
    border-color: var(--primary-backgroundcolor);
    font-size: 1rem;
    font-style: italic;
 
}

@media (max-width:460px){
    .main-div{
        max-width : 80%;
    }
  
}
/* 
h1{
    padding: 0.5rem;
}
h2{
    padding: 0.5rem;
} */
.dateInput{
    margin: auto;
    background-color: rebeccapurple;
    text-align: center;   
}
.luckyNumberInput{
    margin: auto;
    background-color: rebeccapurple;
    text-align: center;   
}

input{
    cursor: pointer;
    /* text-align: center; */
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    
}


.checkButton{
    text-align: center;
    padding: 1rem;

}

button{
    font-size: larger;
    padding: 1rem 2rem;
    font-weight: bolder;
    border-radius: 1rem;
    border-width: 0.5rem;
    border-style: solid;
    cursor: pointer;
}
#github a{
    text-decoration: none;
}