@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{
    --primary-backgroundcolor : orange ;
}

body{
    font-family:'Amatic SC', cursive;
    margin: 0rem;
    background-image: image();
}


img{

   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}